<body>
  <div class="header">
    <h1>Chat</h1>
    <h2 id="estaEscribiendo"></h2>
    <div class="user-status" id="userStatus"></div>
  </div>

  <div class="mensajes">
    <p id="messageLog"></p>
  </div>

  <div class="input-container">
    <input type="text" id="message" placeholder="Escribe tu mensaje..." />
    <button id="button" type="submit">Enviar</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</body>